body{
    background-color: red;
}
header{
    background-color: lightgrey;
    width: 100%;
}
.encabezado{
    width: 50%;
    margin: 0 auto;
    font-family: 'Shadows Into Light', cursive;
    padding: 3.1em;
}
.imagen{
    position: relative;
    display: inline-block;
    width: 25%;
}
.titulo{
    margin: 0 auto;
    display: inline-block;
    width: 65%;
    font-size: 3.1em; 
    color: darkred;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 10px black;
}
main{
    background: linear-gradient(lightgrey, black);
}
.principal{
    width: 50%;
    margin: 0 auto;
    padding: 2.5em 0px;
}
#textoOrigen{
    border:none;
    width: 40%;
    font-family: 'Shadows Into Light', cursive;
    padding: 1.1em;
    background: transparent;
    resize: none;
    font-size: 1.5em;
}
.areaDesencriptado{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 1.1em;
    border:none;
    border-radius: 5px;
    margin-left: 20px; 
    background: dimgray;
}
.imgmunheco{
    width: 53.4%;
    vertical-align: top;
}
#textoDestino::placeholder{
    color: white;
    font-size: 1.5em;
}
#textoDestino{
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1.1em;
    font-family: 'Shadows Into Light', cursive;
    background: transparent;
    font-size: 1.5em;
    resize: none;
}
#copiar{
    padding: 20px 40px;
    font-size: x-large;
    margin: 0px 20px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 10ms all;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
}
#copiar:hover{
    transform: scale(1.1);
    background: lightgray;
}
#copiar:active{
    background-color: whitesmoke;
}
.advertencia{
    color: whitesmoke;
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
    margin: 20px auto;
}
.botones{
    width: 100%;
    margin:  0 auto;
    position: relative;
}
.encriptar{
    color: white;
    width: 200px;
    font-size: x-large;
    margin: 0 20px;
    padding: 20px 40px;
    border: 2px solid white;
    border-radius: 10px;
    transition: 10ms all;
    cursor: pointer;
    background: transparent;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}
.encriptar:hover{
    transform: scale(1.1);
    background: black;
    color: white;
}
.encriptar:active{
    background: radial-gradient(black, lightgrey);
    color: whitesmoke;
    border: 2px solid whitesmoke;

}
.desencriptar{
    font-size: x-large;
    width: 200px;
    padding: 20px 40px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 20px;
    transition: 10ms all;
    cursor: pointer;
    background: transparent;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}
.desencriptar:hover{
    transform: scale(1.1);
    background: black;
}
.desencriptar:active{
    background: radial-gradient(lightgrey, black);
    color: whitesmoke;
    border: 2px solid whitesmoke;
}
footer{
    background:black;
}
.pie{
    width: 50%;
    margin: 0 auto;
    font-family: 'Shadows Into Light', cursive;
    padding: 1.5em;
    font-size: 30px;
    color: white;
    text-align: right;
    text-shadow: 2px 2px 10px white;
}

 